@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Azeret Mono", monospace;
}
*{
    color: #0D1321;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.nav-bar{
    margin: 50px;
    display: flex;
    justify-content: space-between;
}
.nav-bar a{
    text-decoration: none;
}
.nav-bn{
    font-weight: 800;
    font-size: 28;
}
.down{
    font-weight: 600;
    font-size: 20;
    padding: 17px 24px;
    border-radius: 10px;
}
.nav-under{
    background-image: url(assets/Hero-bg.png);
}
.nav-box{
    margin: 26px 221px 113px 221px;
}
.nav-under img {
    padding: 26px;
    margin: 0px auto;
    display: block;
}
.nav-title{
    text-align: center;
    font-weight: 800;
    font-size: 48;
}
.des{
    text-align: center;
}
.btn-con{
    display: flex;
    justify-content: center;
}
.me{
    background-color: #0D1321;
    color: #fff;
    border-radius: 8px;
    padding: 21px 24px;
}
.me:hover{
    cursor: pointer;
}
/* nav-bar done */

/* body - web dev section starts */
.web-dev{
    margin:74px 150px 90px 150px;
    padding: 80px 97px;
}
.web-dev-1{
    padding: 0px 47px 48px 47px ;
    text-align: center;
}
.web-dev-1-title{
    margin: 0px 47px 24px 47px;
    font-weight: 800;
    font-size: 32;
}
.coding{
    margin: 47px 47px 0px 47px;
    gap: 32px;
}
.coding1{
    display: flex;
    justify-content: space-evenly;
}
.des-head{
    font-weight: 700;
    font-size: 24;
}
.l-more{
    font-weight: 600;
    font-size: 20;
}

/* Web dev section ends */

/* inspiration starts */
.insp{
    margin: 90px 150px 150px 150px;
    text-align: center;
}
.inspiration{
    padding: 0px 150px 50px 150px;
}
.inspiration-title{
    font-weight: 800;
    font-size: 32;
}
.inspiration-des{
    font-size: 16;
}
.vid{
    padding: 32px;
    border: 1px solid;
    border-radius: 16px;
}

.yt-vid{
    border-radius: 16px;   
    
    /* Inpiration done */

    /* target starts */
}
.target{
    margin: 150px 150px 50px 150px;
}
.tar-des{
    padding: 0px 96px 48px 96px;
    text-align: center;
}
.tar-des-title{
    font-weight: 800;
    font-size: 32;
}
.tar-des-descript{
    font-size: 16;
}
.tar-lang{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.lang1{
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
    width: 364px;
    height: 299px;
    padding: 40px;
}
.lang2{
    background-color: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
    width: 364px;
    height: 299px;
    padding: 40px;
}
.lang3{
    background-color: rgba(255, 223, 0, 0.05);
    border-radius: 16px;
    width: 364px;
    height: 299px;
    padding: 40px;
}
.lang-name{
    font-weight: 800;
    font-size: 24;
}
.lang-des{
    font-size: 16;
}
.linking{
    font-weight: bold;
}
.next-target{
    margin-top: 111px;
    text-align: center;
}
.next-title{
    font-weight: 800;
    font-size: 32;
}
.next-des{
    font-size: 16;
}
.next-lang{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 16px;
}
.lang-gap{
    display: flex;
    flex-direction: column;
    gap: 24px;
   
}
.fut-des-title{
    font-weight: 800;
    font-size: 24;
}
.fut-des-descript{
    font-size: 16;
}
/* next target done */

/* support starts */
.support-sec{
    width: 1140px;
    height: 313px;
    border-radius: 16px;
    margin: 0 auto;
    background-image: url(assets/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
}
.support-contain{
    text-align: center;
}
.contain-wr{
    padding: 64px 157px 14px;
}
.suggestion{ 
    display: flex;
    gap: 16px; 
    justify-content: center;
}
.feed{ 
    width: 350px; 
    height: 57px; 
 } 
 .mit{ 
    width: 120px;
    height: 57px;
}
.need{
    font-weight: bold;
    font-size: 32;
    color: white;
}
.des-foot{
    font-size: 16;
    color: #fff;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    padding: 32px 150px;
    background-color: rgba(13, 19, 33, 0.03);
}
.icons{
    display: flex;
    gap: 24px;
}